<div class="modal fade" id="edit-report-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form>
                    <section class="form-groups report">
                        <div class="form-group">
                            <label for="edit-author-name">Your name <span>*</span></label><!--
                         --><input type="text" id="edit-author-name" class="form-control" maxlength="64" data-min-length="2" value="{{report.authorName}}" />

                            <p class="field-error" data-check="empty"></p>
                            <p class="field-error" data-check="min-length">Two characters minimun</p>
                        </div>

                        <div class="form-group">
                            <label for="edit-contact">Contact</label><!--
                         --><select id="edit-contact" class="form-control">
                                <option value="">{{ContactsWithLegislator.noContact.label}}</option>
                                <option value="{{ContactsWithLegislator.metLegislator.code}}" {{#if isContact.metLegislator}} selected {{/if}}>{{ContactsWithLegislator.metLegislator.label}}</option>
                                <option value="{{ContactsWithLegislator.talkedToLegislator.code}}" {{#if isContact.talkedToLegislator}} selected {{/if}}>{{ContactsWithLegislator.talkedToLegislator.label}}</option>
                                <option value="{{ContactsWithLegislator.contactWithStaff.code}}" {{#if isContact.contactWithStaff}} selected {{/if}}>{{ContactsWithLegislator.contactWithStaff.label}}</option>
                                <option value="{{ContactsWithLegislator.waitingForCallback.code}}" {{#if isContact.waitingForCallback}} selected {{/if}}>{{ContactsWithLegislator.waitingForCallback.label}}</option>
                                <option value="{{ContactsWithLegislator.leftVoicemail.code}}" {{#if isContact.leftVoicemail}} selected {{/if}}>{{ContactsWithLegislator.leftVoicemail.label}}</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Money in politics is a problem</label>
                            <article class="check-or-radio">
                                <div><input type="radio" name="edit-MPP" value="?" {{#if isYesNoAnwerUndefined.moneyInPoliticsIsAProblem}} checked {{/if}} /></div>
                                <div><label>?</label></div>
                            </article>
                            <article class="check-or-radio">
                                <div>
                                    <input type="radio" name="edit-MPP" value="true"
                                    {{#if report.isMoneyInPoliticsAProblem}}
                                    checked
                                    {{/if}}/>
                                </div>
                                <div><label>Yes</label></div>
                            </article>
                            <article class="check-or-radio">
                                <div>
                                    <input type="radio" name="edit-MPP" value="false"
                                    {{#if isFalse.moneyInPoliticsIsAProblem}}
                                    checked
                                    {{/if}}/>
                                </div>
                                <div><label>No</label></div>
                            </article>
                        </div>

                        <div class="form-group">
                            <label>Supports amendment to fix it</label>
                            <article class="check-or-radio">
                                <div><input type="radio" name="edit-SAFI" value="?" {{#if isYesNoAnwerUndefined.supportsAmendmentToFixIt}} checked {{/if}} /></div>
                                <div><label>?</label></div>
                            </article>
                            <article class="check-or-radio">
                                <div>
                                    <input type="radio" name="edit-SAFI" value="true"
                                    {{#if report.isSupportingAmendmentToFixIt}}
                                    checked
                                    {{/if}}/>
                                </div>
                                <div><label>Yes</label></div>
                            </article>
                            <article class="check-or-radio">
                                <div>
                                    <input type="radio" name="edit-SAFI" value="false"
                                    {{#if isFalse.supportsAmendmentToFixIt}}
                                    checked
                                    {{/if}}/>
                                </div>
                                <div><label>No</label></div>
                            </article>
                        </div>

                        <div class="form-group">
                            <label>Opposes Citizens United</label>
                            <article class="check-or-radio">
                                <div><input type="radio" name="edit-OCU" value="?" {{#if isYesNoAnwerUndefined.opposesCitizensUnited}} checked {{/if}} /></div>
                                <div><label>?</label></div>
                            </article>
                            <article class="check-or-radio">
                                <div><input type="radio" name="edit-OCU" value="true"
                                    {{#if report.isOpposingCitizensUnited}}
                                    checked
                                    {{/if}}/></div>
                                <div><label>Yes</label></div>
                            </article>
                            <article class="check-or-radio">
                                <div><input type="radio" name="edit-OCU" value="false"
                                    {{#if isFalse.opposesCitizensUnited}}
                                    checked
                                    {{/if}}/></div>
                                <div><label>No</label></div>
                            </article>
                        </div>

                        <div class="form-group">
                            <label>Previous vote for convention</label>
                            <article class="check-or-radio">
                                <div><input type="radio" name="edit-PVC" value="?" {{#if isYesNoAnwerUndefined.previousVoteForConvention}} checked {{/if}} /></div>
                                <div><label>?</label></div>
                            </article>
                            <article class="check-or-radio">
                                <div>
                                    <input type="radio" name="edit-PVC" value="true"
                                    {{#if report.hasPreviouslyVotedForConvention}}
                                    checked
                                    {{/if}}/>
                                </div>
                                <div><label>Yes</label></div>
                            </article>
                            <article class="check-or-radio">
                                <div>
                                    <input type="radio" name="edit-PVC" value="false"
                                    {{#if isFalse.previousVoteForConvention}}
                                    checked
                                    {{/if}}/>
                                </div>
                                <div><label>No</label></div>
                            </article>
                        </div>

                        <div class="form-group">
                            <label for="edit-support-level">Support level</label><!--
                         --><select id="edit-support-level" class="form-control">
                                <option value="{{SupportLevels.unknown.code}}">{{SupportLevels.unknown.label}}</option>

                                <option value="{{SupportLevels.primarySponsor.code}}"
                                {{#if isSupportLevel.primarySponsor}}
                                selected
                                {{/if}}
                                >{{SupportLevels.primarySponsor.label}}</option>

                                <option value="{{SupportLevels.coSponsor.code}}"
                                {{#if isSupportLevel.coSponsor}}
                                selected
                                {{/if}}
                                >{{SupportLevels.coSponsor.label}}</option>

                                <option value="{{SupportLevels.supportive.code}}"
                                {{#if isSupportLevel.supportive}}
                                selected
                                {{/if}}
                                >{{SupportLevels.supportive.label}}</option>
    
                                <option value="{{SupportLevels.needsConvincing.code}}"
                                {{#if isSupportLevel.needsConfincing}}
                                selected
                                {{/if}}
                                >{{SupportLevels.needsConvincing.label}}</option>
    
                                <option value="{{SupportLevels.notSupportive.code}}"
                                {{#if isSupportLevel.notSupportive}}
                                selected
                                {{/if}}
                                >{{SupportLevels.notSupportive.label}}</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="edit-notes">Notes</label><!--
                         --><textarea id="edit-notes" class="form-control" maxlength="512">{{{report.notes}}}</textarea>

                            <p class="field-error" data-check="max-length">512 characters maximum</p>
                        </div>
                    </section>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-loading-text="Saving report..." id="confirm-edit">Save report</button>
            </div>
        </div>
    </div>
</div>
