{{#each legislators}}
<article data-id="{{getId}}">
    <table class="table table-striped table-bordered table-condensed">
        <thead>
        <tr>
            <th class="profile-pic"></th>
            <th class="title">Title</th>
            <th class="name">Name</th>
            <th class="political-parties">Party</th>
            <th class="district">District</th>
            <th class="support-level">Support level</th>
            <th class="mpp"><span class="yes-no-answer">Money in<br />politics is<br />a problem</span></th>
            <th class="safi"><span class="yes-no-answer">Supports<br />amendment<br />to fix it</span></th>
            <th class="ocu"><span class="yes-no-answer">Opposes<br />Citizens<br />United</span></th>
            <th class="scp"><span class="yes-no-answer">Supports<br />convention<br />process</span></th>
            <th class="is-a-priority-target">Target</th>
        </tr>
        </thead>
        <tbody>
        <tr data-id="{{getId}}" class="clickable">
            <td class="profile-pic"><img src="http://static.votesmart.org/canphoto/{{getId}}.jpg"></td>
            <td class="title">{{{getTitleAbbr}}}</td>
            <td class="name">{{getLastName}} {{getFirstName}}</td>
            <td class="political-parties"><span class="centered-contents">{{{getPoliticalPartiesAbbr}}}</span></td>
            <td class="district">{{#with getUsState}}{{id}}{{/with}} {{#with getChamber}}{{abbr}}{{/with}} {{getDistrict}}</td>
            <td class="support-level">{{{getCurrentSupportLevelSpan}}}</td>
            <td class="mpp">{{{getSpanForYesNoAnswerLegislatorLevel "MPP" this}}}</td>
            <td class="safi">{{{getSpanForYesNoAnswerLegislatorLevel "SAFI" this}}}</td>
            <td class="ocu">{{{getSpanForYesNoAnswerLegislatorLevel "OCU" this}}}</td>
            <td class="scp">{{{getSpanForYesNoAnswerLegislatorLevel "SCP" this}}}</td>
            <td class="is-a-priority-target"><input type="checkbox" {{#if isAPriorityTarget}} checked {{/if}} {{#unless ../isAdmin}} disabled {{/unless}} /></td>
        </tr>
        </tbody>
    </table>
    {{#if ../isAdmin}}
    {{#if getReports}}
    <section class="reports">
        {{#each getReports}}
        <article data-id="{{getId}}">
            <div>
                <span class="existing-report-date">{{getReadableCreationTimestamp}}</span>
                <span class="existing-report-contact">{{getReadableContact}}</span>
                <span class="existing-report-author-name">{{getAuthorName}}</span>
            </div>
            <div>
                {{{getSupportLevelSpan}}}
                    <span class="existing-report-yes-no-answers">{{{getSpanForYesNoAnswerReportLevel "MPP" this}}}
                    {{{getSpanForYesNoAnswerReportLevel "SAFI" this}}}
                    {{{getSpanForYesNoAnswerReportLevel "OCU" this}}}
                    {{{getSpanForYesNoAnswerReportLevel "SCP" this}}}</span>
            </div>
            <p>{{{getNotesForWeb}}}</p>
        </article>
        {{/each}}
    </section>
    {{/if}}
    {{/if}}
</article>
{{/each}}
